/* Lato Font style */


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* universal select */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    border: none;
    font-size: 20px;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background: #4e44e7;
}

/* header style */

header,
#hot-deal {
    background: rgba(229, 84, 115, 0.10);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.section-heading h2 {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 16px;

}

.banner {
    display: flex;
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner .banner-text h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;

}

.banner .banner-img img {
    width: 100%;
    vertical-align: middle;
}

#featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.section-content .flower .flower-img {
    background-color: #eca4b4;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 25px 0;
    height: 500px;
    display: flex;
    align-items: end;
}

.section-content .flower .flower-img img {
    width: 100%;

}

.section-content .flower .pink {

    background: rgba(167, 33, 98, 0.15);

}

.section-content .flower .blue {

    background: rgba(5, 151, 160, 0.15);

}

.section-content .flower .green {

    background: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
    color: #272727;
    text-align: center;
    margin-top: 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
}

#service .container {
    text-align: center;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 65px 130px 65px 130px;
    margin-bottom: 50px;


}



.services p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    /* 145.833% */
}


/* hot-deal style */

.hot-deal-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}

#hot-deal .hot-deal-text {
    width: 75%;
    max-width: 445px;
    text-align: center;

}

#hot-deal .hot-deal-text * {
    margin-bottom: 25px;
}

#hot-deal .hot-deal-text h2 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;

}

#hot-deal .hot-deal-text h2 .important {
    color: #E55473;

}

#hot-deal .hot-deal-text p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;

    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

#hot-deal .hot-deal-img{
    width: 100%;
    max-width: 318px;
}

#newsletter{
    margin: 128px 0;
}

.newsletter-main{
    background-image: url('../images/Rectangle\ 9.png');
    padding: 122px 0;
    background-repeat: no-repeat;
}

#newsletter form{
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}

#newsletter form input{
   flex-grow: 1;
   border: none;
   border-radius: 3px;
   padding: 10px;
   font-size: 20px;
   outline: none;
}